<div class="top-image">
    <div class="top-image-content" [style.backgroundImage]="component && component.header && innerWidth > 767 ? getBckgndImageUrl(component.header) : component && component.headerMobile && innerWidth <= 767 ? getBckgndImageUrl(component.headerMobile) : ''">
        <div class="container">
            <div class="top-content">
                <div class="top-h">{{ curCategory.name }}</div>
                <!--div class="top-h3">Explore Russian language</div-->
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container">
        <div class="breadcrumbs">
            <a [routerLink]="['/']">Home</a>
            <span class="active">/</span>
            <a [routerLink]="['/learn']">Learn</a>
            <span class="active">/</span>
            <a [routerLink]="['/Russian-language']">Russian language</a>
            <span *ngIf="urlParam === 'Russian-Conjugated-Verbs' && urlverb">
                <a class="active">/</a>
                <a [routerLink]="conjLink" *ngIf="curCategory">Conjugated Verbs</a>
            </span>
            <span *ngIf="curCategory">/</span>
            <span *ngIf="curCategory">{{ curCategory.name }}</span>
        </div>
        <app-social-bar [title]="title" [type]="'pc'"></app-social-bar>
        <div class="content">
            <div class="left-bar" [ngClass]="leftBarVisible === true ? 'active' : ''">
                <div class="left-bar-btn d-block d-md-none" (click)="leftBarVisible = !leftBarVisible">
                    <div>Contents</div>
                </div>
                <div class="inner">
                    <div *ngFor="let section of sections">
                        <div class="lang-sec-h">{{ section.name }}</div>
                        <div *ngFor="let category of section.categories; let i = index">
                            <div *ngIf="category.subCategories && category.subCategories.length > 0" class="lang-parent-category">
                                <span class="lang-parent-h" (click)="categoryBtnsClicked[category.id] = !categoryBtnsClicked[category.id]">
                                    {{ category.name }}
                                    <svg class="chevron" [ngClass]="{'up': categoryBtnsClicked[category.id] === true}" xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5" fill="none">
                                        <path d="M0.227667 4.0365L0.689712 4.38453C0.849828 4.49893 1.03683 4.55615 1.2503 4.55615C1.46817 4.55615 1.65295 4.49893 1.80495 4.38453L4.7996 2.12953L7.79423 4.38446C7.94621 4.49887 8.13103 4.55609 8.34881 4.55609C8.56239 4.55609 8.74935 4.49887 8.90949 4.38446L9.36547 4.03644C9.52159 3.91896 9.59961 3.77818 9.59961 3.61422C9.59961 3.44721 9.5215 3.30803 9.36549 3.19669L5.35421 0.176235C5.20627 0.058742 5.0215 -5.30055e-05 4.79962 -5.29861e-05C4.5819 -5.29671e-05 4.39496 0.0587258 4.23899 0.176235L0.227688 3.19669C0.0756873 3.31116 -0.000366308 3.45033 -0.000366293 3.61422C-0.000388214 3.77512 0.0756654 3.91582 0.227667 4.0365Z" fill="#D50000"/>
                                    </svg>
                                </span>
                                <div class="lang-child-wrap" [style.max-height.px]="categoryBtnsClicked[category.id] === false ? this.categoryChildWrapsHeight[category.id] : '0'" [ngClass]="categoryBtnsClicked[category.id] === false ? 'slideup' : 'slidedown'">
                                    <a *ngFor="let subCategory of category.subCategories" class="lang-child-category"  [ngClass]="{'active': curCategory.url == subCategory.url}" (click)="rowClick('subCategory', subCategory)" [routerLink]="'/Russian-language/subCategory/'+subCategory.url">{{ subCategory.name }}</a>
                                </div>
                            </div>
                            <a *ngIf="category.subCategories && category.subCategories.length == 0" class="lang-category" [ngClass]="{'active': curCategory.url == category.url}" (click)="rowClick('category', category)" [routerLink]="'/Russian-language/category/'+category.url">{{ category.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-wrap">
                <!--h1 class="category-name">{{ curCategory.name }}</h1-->
                <div class="page-content lang-content fr-view" *ngIf="curCategory.content && curCategory.url != 'russian-alphabet' && curCategory.url != 'Russian-Conjugated-Verbs'" [innerHtml]="curCategory.content | safeHtml"></div>
                <div class="page-content lang-content fr-view" *ngIf="curCategory.content && curCategory.url == 'russian-alphabet'">
                    <div [innerHtml]="curCategory.content | safeHtml"></div>
                    <div class="alphabet-tbl">
                        <table style="width: 100%; margin-right: calc(0%);font-size: 22px;">
                            <tbody>
                                <tr style="padding-bottom: 20px;">
                                    <td style="width: 21%;">
                                        <div style="text-align: center; font-size: 20px; padding-bottom: 15px;">Russian letter</div>
                                    </td>
                                    <td style="width: 18%;">
                                        <div style="text-align: center; font-size: 20px; padding-bottom: 15px;">Handwriting</div>
                                    </td>
                                    <td style="width: 27%;">
                                        <div style="text-align: center; font-size: 20px; padding-bottom: 15px;">Name of Letter</div>
                                    </td>
                                    <td style="width: 28%;">
                                        <div style="text-align: center; font-size: 20px; padding-top: 0; padding-bottom: 15px;">Similar English sound</div>
                                    </td>
                                    <td style="width: 11%;">
                                        <div style="text-align: center; font-size: 20px; padding-top: 0; padding-bottom: 15px;">Vowel</div>
                                    </td>
                                </tr>
                                <tr *ngFor="let letter of letters">
                                    <td style="font-size: 34px;padding-top: 5px;">
                                        <div data-empty="true" style="text-align: left; padding-left: 28%; color: #D50000;">{{ letter.uLetter }} {{ letter.dLetter }}</div>
                                    </td>
                                    <td>
                                        <div data-empty="true" style="text-align: center;">
                                            <a *ngIf="!letter.playGif" href="javascript:void(0)" (click)="playGif(letter)" class="play-gif-btn" style="text-decoration:none;">&nbsp;
                                                <svg width="14" height="14" fill="none">&nbsp;
                                                    <path d="M5.6 10.15L9.8 7L5.6 3.85V10.15ZM7 0C3.15 0 0 3.15 0 7C0 10.85 3.15 14 7 14C10.85 14 14 10.85 14 7C14 3.15 10.85 0 7 0ZM7 12.6C3.92 12.6 1.4 10.08 1.4 7C1.4 3.92 3.92 1.4 7 1.4C10.08 1.4 12.6 3.92 12.6 7C12.6 10.08 10.08 12.6 7 12.6Z" fill="#D50000"></path>&nbsp;
                                                </svg>
                                            </a>
                                            <a *ngIf="letter.playGif" href="javascript:void(0)" (click)="stopGif(letter)" class="play-gif-btn" style="text-decoration:none;">&nbsp;
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 30 30" fill="none">
                                                    <path d="M10 20H20V10H10V20ZM15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0ZM15 27C8.4 27 3 21.6 3 15C3 8.4 8.4 3 15 3C21.6 3 27 8.4 27 15C27 21.6 21.6 27 15 27Z" fill="#D50000"/>
                                                </svg>
                                            </a>
                                            <img [src]="letter.playGif ? '/assets/alphabet/images/'+letter.uHandwritingGif : '/assets/alphabet/images/'+letter.uHandwritingJpg" style="width: 73px;display: inline-block;" class="fr-fic fr-dib fr-draggable">
                                        </div>
                                    </td>
                                    <td >
                                        <div style="text-align: center;">
                                            <a *ngIf="!letter.play" href="javascript:void(0)" (click)="play(letter)" class="play-btn" style="text-decoration:none;">&nbsp;
                                                <svg width="14" height="14" fill="none">&nbsp;
                                                    <path d="M5.6 10.15L9.8 7L5.6 3.85V10.15ZM7 0C3.15 0 0 3.15 0 7C0 10.85 3.15 14 7 14C10.85 14 14 10.85 14 7C14 3.15 10.85 0 7 0ZM7 12.6C3.92 12.6 1.4 10.08 1.4 7C1.4 3.92 3.92 1.4 7 1.4C10.08 1.4 12.6 3.92 12.6 7C12.6 10.08 10.08 12.6 7 12.6Z" fill="#D50000"></path>&nbsp;
                                                </svg>
                                            </a>
                                            <a *ngIf="letter.play" href="javascript:void(0)" (click)="stop(letter)" class="play-btn" style="text-decoration:none;">&nbsp;
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 30 30" fill="none">
                                                    <path d="M10 20H20V10H10V20ZM15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0ZM15 27C8.4 27 3 21.6 3 15C3 8.4 8.4 3 15 3C21.6 3 27 8.4 27 15C27 21.6 21.6 27 15 27Z" fill="#D50000"/>
                                                </svg>
                                            </a>
                                            <span>[{{ letter.name }}]</span> 
                                        </div>
                                    </td>
                                    <td>
                                        <div style="text-align: left; padding-left: 20%;" [innerHtml]="letter.simEngSound | safeHtml"></div>
                                    </td>
                                    <td>
                                        <div *ngIf="letter.vowel" data-empty="true" style="text-align: center;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                                <path d="M5 0C2.25 0 0 2.25 0 5C0 7.75 2.25 10 5 10C7.75 10 10 7.75 10 5C10 2.25 7.75 0 5 0ZM5 9C2.8 9 1 7.2 1 5C1 2.8 2.8 1 5 1C7.2 1 9 2.8 9 5C9 7.2 7.2 9 5 9Z" fill="#D50000"/>
                                                <path d="M5 9C2.8 9 1 7.2 1 5C1 2.8 2.8 1 5 1C7.2 1 9 2.8 9 5C9 7.2 7.2 9 5 9Z" fill="#D50000"/>
                                            </svg>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display:none">
                            <img *ngFor="let letter of letters" [src]="'/assets/alphabet/images/'+letter.uHandwritingGif" style="width: 73px;display: inline-block;" class="fr-fic fr-dib fr-draggable">
                            <audio *ngFor="let letter of letters" preload="metadata" controls [src]="'/assets/alphabet/sounds/'+letter.nameAudio"></audio>
                        </div>
                    </div>
                </div>
                <div class="page-content lang-content fr-view" *ngIf="curCategory.content && curCategory.url == 'Russian-Conjugated-Verbs'">
                    <div [innerHtml]="curCategory.content | safeHtml"></div>
                    <div>
                        <p>
                            <span *ngFor="let group of groupedItems"><a *ngIf="group.children.length > 0" class="conjugated-verb-link" [ngClass]="curGroup && group.group == curGroup.group ? 'active' : ''" href="javascript:void(0)" (click)="selectConjugatedGroup(group)"><strong>{{ group.group }}</strong></a><span *ngIf="group.children.length == 0" class="verb-item">{{ group.group }}</span>&nbsp;</span>
                        </p>
                    </div>
                    <div *ngIf="curGroup" class="conjugated-verb-content">
                        <!--Verb list</div-->
                        <a *ngFor="let verb of curGroup.children" [routerLink]="conjLink+verb.url" class="conj-item">
                            <span class="conj-rus">{{ verb.name }}</span>
                            <span>&nbsp;-&nbsp;</span>
                            <span>{{ verb.translation }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <app-social-bar [title]="title" [type]="'mobile'"></app-social-bar>
        </div>
    </div>
</div>