*, body {
    font-family: 'Titillium Web', sans-serif;
}
.top-h {
    font-size: 144px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 115px;
    margin-top: 225px;
}
.top-h3 {
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    line-height: 80px;
    margin-top: 40px;
}
.top-image-content {
    height: 380px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.top-image-content .top-h {
    margin: 0 0 0 220px;
    padding-top: 160px;
}
.top-image-content .top-h3 {
    font-size: 36px;
    margin-top: 5px;
    margin-left: 220px;
}
.top-sections {
    margin: 0;
    margin-top: 10px;
}
.breadcrumbs {
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0 0;
}
.breadcrumbs a {
    color: #d50000;
}
.breadcrumbs span {
    color: #282828;
}
.breadcrumbs span.active {
    color: #d50000;
}
.breadcrumbs a, .breadcrumbs span {
    margin-left: 7px;
}
.breadcrumbs a:first-child {
    margin-left: 0;
}
.page-wrap {
    margin-top: 95px;
}
.left-bar {
    display: inline-block;
    width: 310px;
    vertical-align: top;
}
.left-bar a {
    font-size: 28px;
    font-weight: 600;
    display: block;
    color: #d50000;
    transition: all 0.2s;
}
.left-bar a.active {
    color: #000;
}
.about-content {
    max-width: calc(100% - 310px);
    display: inline-block;
    vertical-align: top;
}
.about-content .content {
    max-width: 836px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


@media (min-width: 320px) and (max-width: 1280px) {
    .top-image-content {
        background-size: cover;
    }
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .top-h3 {
        margin-top: 5px;
    }
    .top {
        height: 660px;
    }
}
@media (min-width: 320px)  and (max-width: 768px) {
    .page-wrap {
        width: 100%;
    }
    .left-bar {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        max-width: 320px;
        width: 291px;
        transform: translate(100%, 0);
        transition: all 0.5s;
        z-index: 2000;
    }
    .left-bar-btn {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 18px;
        font-weight: 700;
        /* width: 55px; */
        text-align: center;
        padding: 9.5px 26px 15.5px;
        cursor: pointer;
        border-radius: 0px 0 15px 15px;
        background: #D50000;
        color: #fff;
        position: absolute;
        top: 240px;
        left: -87px;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        transition: all 0.5s;
    }
    .top-image-content .top-h {
        font-size: 30px!important;
        line-height: 46px;
        text-align: left;
        padding: 0 15px!important;
        bottom: 15px;
        letter-spacing: 0;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        min-height: 92px;
    }
    .top-image-content {
        height: 490px;
    }
    .left-bar.active {
        transform: none;
    }
    .wrap .content {
        margin-top: 35px;
    }
    .breadcrumbs {
        padding: 15px 10px 0 0px;
    }
    .breadcrumbs a {
        font-weight: 500;
    }
    .breadcrumbs span.active {
        font-weight: 500;
    }
    .left-bar .inner {
        max-height: 100vh;
        overflow: auto;
        padding: 25px 20px 25px 60px;
    }
    .about-content {
        max-width: 100%;
    }
}
@media (min-width: 320px)  and (max-width: 343px) {
    .left-bar.active .left-bar-btn {
        left: -64px;
    }

}
@media (min-width: 320px)  and (max-width: 420px) {
    .top-image-content .top-h {
        font-size: 46px;
        padding-left: 0;
        word-break: unset;
    }
}