/* learn */
*, body {
    font-family: 'Titillium Web', sans-serif;
}
.top-h {
    font-size: 144px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 115px;
    margin-top: 225px;
}
.top-h3 {
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    line-height: 80px;
    margin-top: 40px;
}
.top-image-content {
    height: 380px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.top-image-content .top-h {
    margin: 0 0 0 220px;
    padding-top: 220px;
}
.top-image-content .top-h3 {
    font-size: 36px;
    margin-top: 5px;
    margin-left: 220px;
}
.top-sections {
    margin: 0;
    margin-top: 10px;
}

.breadcrumbs {
    font-size: 15px;
    font-weight: bold;
    padding: 15px 10px 0 10px;
}
.breadcrumbs a {
    color: #d50000;
}
.breadcrumbs span {
    color: #282828;
}
.breadcrumbs span.active {
    color: #d50000;
}
.breadcrumbs a, .breadcrumbs span {
    margin-left: 7px;
}
.breadcrumbs a:first-child {
    margin-left: 0;
}

.top-section {
    padding: 0;
    padding-left: 10px;
}
.zoom-item {
    overflow: hidden;
    position: relative;
    display: block;
}
.sec-half-item {
    margin-top: 10px;
}
.zoom-item .inside {
    background: #ccc;
    background-repeat: no-repeat;
    background-size: 102%;
    background-position: center;
    /*transition: background-size 0.4s ease, filter 0.4s;*/
    position: relative;
    transition: all 0.3s;
}
.zoom-item .outside {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}
.sec-half-item .inside{
    height: 300px;
}
.sec-item .inside{
    height: 570px;
}
.zoom-item:hover .inside {
    /*background-size: 120%;*/
    transform: scale(1.2);
}
.zoom-item:hover .filler {
    /*opacity: 0.5;*/
}
.zoom-item .filler {
    width: 100%;
    height: 0;
    background-color: #1C3964;
    opacity: 0;
    transition: all 0.3s;
    z-index: 10;
    bottom: 0;
    position: absolute;
    padding: 10px 20px;
}
.zoom-item .content {
    position: absolute;
    bottom: 0;
    padding: 13px;
}
.zoom-item .sec-h {
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    line-height: 55px;
}
.zoom-item .preview {
    color: #fff;
    font-size: 17px;
    line-height: 19px;
}
.rus-language .zoom-item .outside {
    bottom: 20px;
}
.list-wrap {
    position: absolute;
    top: 15px;
    right: 20px;
}
.list-item {
    text-align: right;
    font-size: 28px;
    font-weight: 900;
    color: #fff;
}



@media (min-width: 576px) and (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
    .header .container {
        padding: 20px 15px 0;
    }
    .top-advantages {
        display: none;
    }
    .top-h {
        margin-top: 330px;
        line-height: 64px;
        font-size: 64px;
    }
    .top-h3 {
        font-size: 20px;
        margin-top: 5px;
        line-height: 20px;
    }
    .top {
        height: 490px;
    }
    .top .container {
        padding: 20px 25px;
    }
    .zoom-item .sec-h {
        font-size: 44px;
    }
    .zoom-item .preview {
        font-size: 14px;
    }
    .top-sections {
        margin-top: 0;
    }
    .top-sections .top-section .sec-half-item {
        margin-top: 10px!important;
    }
    .top-section {
        padding: 0;
    }
    .sec-item {
        margin-top: 10px;
    }
    .sec-item .inside {
        height: 320px;
    }
    .bot-sec-item .inside {
        height: 240px;
        background-size: 104%;
    }
    .sub-bot-secion {
        width: 100%;
    }
    .sub-bot-secion .bot-section {
        flex: none;
        max-width: -webkit-fill-available;
        float: none;
        width: 100%;
    }
    .bot-section {
        padding-left: 0;
    }
    .sec-half-item {
        margin-top: 10px;
        width: calc(100% - 5px);
        display: inline-block;
        margin-left: 10px;
    }
    .top-section .sec-half-item:nth-child(1), .top-section .sec-half-item:nth-child(2), .top-section .sec-half-item:nth-child(4) {
        margin-left: 0;
    }
    .top-sections .top-section .sec-half-item:nth-child(1) {
        margin-left: 0;
    }
    .sec-half-item .inside {
        height: 204px;
    }
    /*.top-sections .top-section:nth-child(1), .top-sections .top-section:nth-child(2) {
        height: 260px;
    }
    .top-sections .top-section:nth-child(3), .top-sections .top-section:nth-child(4) {
        width: calc(50% - 5px);
    }
    .top-sections .top-section:nth-child(4) {
        margin-left: 10px;
    }*/
    .sub-bot-secion .bot-section {
        width: calc(50% - 5px);
        display: inline-block;
    }
    .sub-bot-secion .bot-section:last-child {
        margin-left: 10px;
    }
    .bot-sec-item .inside {
        height: 207px;
    }
    .rus-language .sec-half-item {
        width: 100%;
    }
    .list-wrap {
        top: 2px;
    }
    .list-item {
        font-size: 26px;
    }
}
@media (min-width: 320px) and (max-width: 620px) {
    .list-wrap {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 575px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
    .header .container {
        padding: 20px 15px 0;
    }
    .top-advantages {
        display: none;
    }
    .top-h {
        margin-top: 330px;
        line-height: 64px;
        font-size: 64px;
    }
    .top2 {
        background-position: 68% 0px;
    }
    .top3 {
        background-position: 68% 0px;
    }
    .top4 {
        background-position: 27% 0px;
    }
    .top-h3 {
        font-size: 20px;
        margin-top: 5px;
        line-height: 20px;
    }
    .top {
        height: 490px;
    }
    .top .container {
        padding: 20px 25px;
    }
    .zoom-item .sec-h {
        font-size: 44px;
    }
    .zoom-item .preview {
        font-size: 14px;
    }
    .top-sections {
        margin-top: 0;
    }
    .top-sections .top-section .sec-half-item {
        margin-top: 10px!important;
    }
    .top-section {
        padding: 0;
    }
    .sec-item {
        margin-top: 10px;
    }
    .sec-item .inside {
        height: 320px;
    }
    .bot-sec-item .inside {
        height: 240px;
        background-size: 104%;
    }
    .sub-bot-secion {
        width: 100%;
    }
    .sub-bot-secion .bot-section {
        flex: none;
        max-width: -webkit-fill-available;
        float: none;
        width: 100%;
    }
    .bot-section {
        padding-left: 0;
    }
    .sec-half-item .inside {
        height: 225px;
    }
    .rus-language .inside {
        background-size: 208%;
    }
    .rus-language .inside {
        background-size: 208%;
    }
    .top-image-content .top-h {
        margin-left: 0;
        text-align: center;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .col-sm-4 {
        flex: none;
        max-width: 50%;
    }   
}
@media (min-width: 769px) and (max-width: 1023px) {
    .container {
        width: 100%!important;
        max-width: 100%!important;
    }
    .top .container {
        padding: 20px 30px;
    }
    .top-h {
        font-size: 96px;
        line-height: 75px;
        margin-top: 200px;
    }
    .top-h3 {
        font-size: 48px;
        margin-top: 25px;
        line-height: 45px;
    }
    .top-advantages li {
        font-size: 15px;
    }
    .top {
        height: 530px;
    }
    .sec-half-item .inside {
        height: 219px;
    }
    .top-section {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .sec-item .inside {
        height: 448px;
    }
    .top-section:nth-child(1),   .top-section:nth-child(2),   .top-section:nth-child(4) {
        padding-left: 0;
    }
    .bot-section .inside {
        height: 219px;
    }
    .sub-bot-secion .bot-section {
        padding-left: 10px;
        float: none;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .bot-section {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }
    .zoom-item .sec-h {
        font-size: 44px;
    }
    .sec-item .sec-h {
        font-size: 44px;
    }
    .zoom-item .preview {
        font-size: 14px;
    }
    .rus-language {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .list-wrap {
        top: 10px;
    }
    .list-item {
        font-size: 26px;
    }
}
@media (min-width: 320px) and (max-width: 1280px) {
    .top-image-content {
        background-size: cover;
    }
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .top-h3 {
        margin-top: 5px;
    }
    .top {
        height: 660px;
    }
    .slick-dots {
        bottom: 15px;
    }
    .sec-half-item .inside {
        height: 222.5px;
    }
    .sec-item .inside {
        height: 455px;
    }
    .bot-sec-item .inside {
        height: 240px;
    }
    .top-section:nth-child(1), .top-section:nth-child(3) {
        padding-left: 0;
    }
    .bot-section:first-child {
        padding-left: 0;
    }
    .zoom-item .sec-h {
        font-size: 44px;
        line-height: 44px;
    }
    .zoom-item .preview {
        color: #fff;
        font-size: 14px;
        line-height: 16px;
    }
    .list-wrap {
        top: 10px;
    }
    .list-item {
        font-size: 26px;
    }
}