<div class="top-image">
  <div class="top-image-content" style="background-image: url(assets/images/learn-top.png);">
      <div class="container">
          <div class="top-content">
              <div class="top-h">Learn</div>
              <div class="top-h3"></div>
          </div>
      </div>
  </div>
</div>
<div class="wrap">
    <div class="container">
        <div class="breadcrumbs">
            <a [routerLink]="['/']">Home</a>
            <span>/</span>
            <span>Learn</span>
        </div>
        <div class="row">
            <div class="top-section rus-language col-md-8 col-sm-12">
                <a [routerLink]="['/Russian-language']" class="sec-half-item zoom-item">
                    <div class="inside" style="background-image: url(assets/images/learn/russian-language.jpg)"></div>
                    <div class="outside">
                        <div class="content">
                            <div class="sec-h">Russian language</div>
                            <div class="preview">Practice Russian at different levels</div>
                        </div>
                        <div class="filler"></div>
                    </div>
                    <div class="list-wrap">
                        <div class="list-item">Lessons</div>
                        <div class="list-item">Grammar</div>
                        <div class="list-item">Vocabulary</div>
                        <div class="list-item">Slang and idioms</div>
                        <div class="list-item">Topics</div>
                    </div>
                </a>
            </div>
            <div class="top-section col-md-4 col-sm-4">
                <a [routerLink]="['/watch']" class="sec-half-item zoom-item">
                    <div class="inside" style="background-image: url(assets/images/learn/watch.jpg)"></div>
                    <div class="outside">
                        <div class="content">
                            <div class="sec-h">Watch</div>
                            <div class="preview">Russian movies with English subtitles</div>
                        </div>
                        <div class="filler"></div>
                    </div>
                </a>
            </div>
            <div class="top-section col-md-4 col-sm-4">
                <a [routerLink]="['/listen']" class="sec-half-item zoom-item">
                    <div class="inside" style="background-image: url(assets/images/learn/listen.jpg)"></div>
                    <div class="outside">
                        <div class="content">
                            <div class="sec-h">Listen</div>
                            <div class="preview">Russian songs with English translation</div>
                        </div>
                        <div class="filler"></div>
                    </div>
                </a>
            </div>
            <div class="top-section col-md-4 col-sm-4">
                <a [routerLink]="['/read']" class="sec-half-item zoom-item">
                    <div class="inside" style="background-image: url(assets/images/learn/read.jpg)"></div>
                    <div class="outside">
                        <div class="content">
                            <div class="sec-h">Read</div>
                            <div class="preview">Explore Russian Literature</div>
                        </div>
                        <div class="filler"></div>
                    </div>
                </a>
            </div>
            <div class="top-section col-md-4 col-sm-4">
                <a [routerLink]="['/trend']" class="sec-half-item zoom-item">
                    <div class="inside" style="background-image: url(assets/images/learn/trend.jpg)"></div>
                    <div class="outside">
                        <div class="content">
                            <div class="sec-h">Тренд раздел</div>
                            <div class="preview">тест тест тест тест</div>
                        </div>
                        <div class="filler"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>