<div class="top-image">
    <div class="top-image-content" style="background-image: url(assets/images/read-top.png);">
        <div class="container">
            <div class="top-content">
                <div class="top-h">Read</div>
                <div class="top-h3">Explore Russian literature from classic to modern!</div>
            </div>
        </div>
    </div>
  </div>
  <div class="wrap"  *ngIf="author">
      <div class="container">
          <div class="breadcrumbs">
              <a [routerLink]="['/']">Home</a>
              <span class="active">/</span>
              <a [routerLink]="['/learn']">Learn</a>
              <span class="active">/</span>
              <a [routerLink]="['/read']">Read</a>
              <span>/</span>
              <span>{{ author.name }}</span>
          </div>
          <div class="filter-btn-wrap d-none d-md-block">
              <app-social-bar [title]="title" [type]="'pc'"></app-social-bar>
          </div>
          <div class="book-author-name">{{ author.name }}</div>
          <div class="book-author-rus-name">{{ author.nameRus }}</div>
          <div class="book-list-wrap">
              <div *ngFor="let book of author.books" class="book-detail-item">
                  <div class="book-detail-img" [style.backgroundImage]="getBckgndImageUrl(book.detail)"></div>
                  <div class="book-detail-info-wrap">
                      <div class="book-detail-name">
                          {{ book.name }} 
                          <span *ngIf="book.nameRus">({{ book.nameRus }}) </span>
                          <span *ngIf="book.year">({{ book.year }})</span>
                        </div>
                      <div class="book-detail-desc">{{ book.description }}</div>
                      <div class="amazon-link-wrap">
                          <a *ngIf="book.amazonEng && book.amazonEng != ''" [href]="book.amazonEng" class="amazon-link" target="_blank">
                              <img src="assets/images/amazon-icon.png"/>
                              <div>English version</div>
                          </a>
                          <a *ngIf="book.amazonRus && book.amazonRus != ''" [href]="book.amazonRus" class="amazon-link" target="_blank">
                              <img src="assets/images/amazon-icon.png"/>
                              <div>Russian version</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <app-social-bar [title]="title" [type]="'mobile'" class="mobile"></app-social-bar>
          <div class="related-wrap d-none d-md-block">
              <div class="related-h">Related</div>
              <div *ngIf="relatedBooks || relatedBooks.length > 0">
                  <a *ngFor="let book of relatedBooks" [routerLink]="['/read/'+book.author.url]" class="book-item">
                      <div 
                          class="book-img" 
                          [style.backgroundImage]="getBckgndImageUrl(book.preview)">
                      </div>
                      <div class="book-author">{{ book.author.name }}</div>
                      <div class="book-name">{{ book.name }}</div>
                  </a>
              </div>
              <div *ngIf="!relatedBooks || relatedBooks.length === 0" class="watch-filter-empty">
                  <p>No books</p>
              </div>
          </div>
      </div>
  </div>