<div class="top-image">
    <div class="top-image-content" [style.backgroundImage]="watch && watch.header && innerWidth > 767 ? getBckgndImageUrl(watch.header) : watch && watch.headerMobile && innerWidth <= 767 ? getBckgndImageUrl(watch.headerMobile) : ''">
        <div class="container">
            <div class="top-content">
                <div class="top-h">Watch</div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container">
        <div class="breadcrumbs">
            <a [routerLink]="['/']">Home</a>
            <span class="active">/</span>
            <a [routerLink]="['/learn']">Learn</a>
            <span class="active">/</span>
            <a [routerLink]="['/watch']">Watch</a>
            <span *ngIf="watch">/</span>
            <span *ngIf="watch">{{ watch.name }}</span>
        </div>
        <div class="watch-detail-content" *ngIf="watch">
            <div class="watch-detail-h">{{ watch.name }}</div>
            <div class="watch-detail-hrus">{{ watch.nameRus }}</div>
            <div class="main-content">
                <div class="left-side-with-poster">
                    <div>
                        <img class="watch-detail-img" [src]="getImageURL(watch.detail)"/>
                    </div>
                </div>
                <div class="right-side-with-poster">
                    <div class="d-block d-md-none watch-emblems-top">
                        <a *ngIf="watch.youtube != ''" class="watch-youtube" [href]="'https://www.youtube.com/watch?v='+watch.youtube" target="_blank">
                            <img src="/assets/images/watch-youtube.png"/>
                        </a>
                        <a *ngIf="watch.sovietUrl != ''" class="watch-sovite" [href]="watch.sovietUrl" target="_blank">
                            <img src="/assets/images/watch-sovite.png"/>
                        </a>
                        <a *ngIf="watch.imdbUrl != ''" class="watch-imdb" [href]="watch.imdbUrl" target="_blank">
                            <img src="/assets/images/watch-imdb.png"/>
                        </a>
                    </div>
                    <div class="right-side-h">Plot</div>
                    <div class="right-side-p" [innerHTML]="watch.plot"></div>
                    <div class="right-side-h">Information</div>
                    <div class="watch-info-wrap">
                        <div class="watch-info-row">
                            <b>Rating:</b> {{ watch.rating }}
                        </div>
                        <div class="watch-info-row">
                            <b>Release year:</b> {{ watch.year }}
                        </div>
                        <div class="watch-info-row">
                            <b>Country:</b> {{ watch.country }}
                        </div>
                        <div class="watch-info-row">
                            <b>Genre:</b> 
                            <span *ngFor="let genre of genres"> {{ genre.name }}</span>
                        </div>
                        <div class="watch-info-row">
                            <b>Director:</b> {{ watch.director }}
                        </div>
                        <div class="watch-info-row">
                            <b>Starring:</b> {{ watch.starring }}
                        </div>
                        <div class="watch-info-row">
                            <b>Sovietmovies subtitles:</b> {{ watch.sovietmoviesSubtitles }}
                        </div>
                        <div class="watch-info-row">
                            <b>Youtube subtitles:</b> {{ watch.subtitleLanguage.name }}
                        </div>
                        <div class="bottom-bar">
                            <div class="d-none d-md-block">
                                <a *ngIf="watch.youtube != ''" class="watch-youtube" [href]="'https://www.youtube.com/watch?v='+watch.youtube" target="_blank">
                                    <img src="/assets/images/watch-youtube.png"/>
                                </a>
                                <a *ngIf="watch.sovietUrl != ''" class="watch-sovite" [href]="watch.sovietUrl" target="_blank">
                                    <img src="/assets/images/watch-sovite.png"/>
                                </a>
                                <a *ngIf="watch.imdbUrl != ''" class="watch-imdb" [href]="watch.imdbUrl" target="_blank">
                                    <img src="/assets/images/watch-imdb.png"/>
                                </a>
                            </div>
                            <app-social-bar [title]="title" [type]="'both'"></app-social-bar>
                        </div>
                    </div>
                </div>

                <div class="related-wrap">
                    <div class="related-h">Related</div>
                    <div class="related-content" *ngIf="watches && watches.length > 0">
                        <a *ngFor="let watch of watches" [routerLink]="'/watch/'+watch.url" class="watch-item">
                            <div 
                                class="watch-img" 
                                [style.backgroundImage]="getBckgndImageUrl(watch.preview)">
                            </div>
                            <div class="watch-name">{{ watch.name }} ({{ watch.year }})</div>
                        </a>
                    </div>
                    <div *ngIf="!watches && watches.length === 0">
                        <p>No matches</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>