<div class="top-image">
  <div class="top-image-content" style="background-image: url(assets/images/read-top.png);">
      <div class="container">
          <div class="top-content">
              <div class="top-h">Read</div>
              <div class="top-h3">Explore Russian literature from classic to modern!</div>
          </div>
      </div>
  </div>
</div>
<div class="wrap">
    <div class="container">
        <div class="breadcrumbs">
            <a [routerLink]="['/']">Home</a>
                <span class="active">/</span>
            <a [routerLink]="['/learn']">Learn</a>
            <span>/</span>
            <span>Read</span>
        </div>
        <app-social-bar [title]="title" [type]="'both'"></app-social-bar>
        <div class="book-category">Classic</div>
        <div class="book-wrap">
            <div *ngIf="classicBooks || classicBooks.length > 0">
                <a *ngFor="let book of classicBooks" [routerLink]="'/read/'+book.author.url" class="book-item">
                    <div 
                        class="book-img" 
                        [style.backgroundImage]="getBckgndImageUrl(book.preview)">
                    </div>
                    <div class="book-author">{{ book.author.name }}</div>
                    <div class="book-name">{{ book.name }}</div>
                </a>
            </div>
            <div *ngIf="!classicBooks || classicBooks.length === 0" class="watch-filter-empty">
                <p>No books</p>
            </div>
        </div>
        <div class="book-category book-category-modern">Modern</div>
        <div class="book-wrap">
            <div *ngIf="modernBooks || modernBooks.length > 0">
                <a *ngFor="let book of modernBooks" [routerLink]="'/read/'+book.author.url" class="book-item">
                    <div 
                        class="book-img" 
                        [style.backgroundImage]="getBckgndImageUrl(book.preview)">
                    </div>
                    <div class="book-author">{{ book.author.name }}</div>
                    <div class="book-name">{{ book.name }}</div>
                </a>
            </div>
            <div *ngIf="!modernBooks || modernBooks.length === 0" class="watch-filter-empty">
                <p>No books</p>
            </div>
        </div>
    </div>
</div>