.slideup, .slidedown {          
    overflow-y: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.social-nets-filter-wrap.slidedown .social-nets-filter-left {
    -webkit-transition: max-width 0.3s ease-in-out;
    -moz-transition: max-width 0.3s ease-in-out;
    -o-transition: max-width 0.3s ease-in-out;
    transition: max-width 0.3s ease-in-out;    
}
.social-nets-filter-wrap.horizontal.slidedown .social-nets-filter-left {
    max-width: 290px;
}
.social-nets-filter-wrap.slideup .social-nets-filter-left {
    -webkit-transition: max-width 0.3s ease-in-out;
    -moz-transition: max-width 0.3s ease-in-out;
    -o-transition: max-width 0.3s ease-in-out;
    transition: max-width 0.3s ease-in-out;
}
.social-nets-filter-wrap.horizontal.slideup .social-nets-filter-left {
    max-width: 140px;
}
.social-nets-filter-plus.cross {
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.social-nets-filter-wrap {
    float: right;
    margin-top: 5px;
    overflow: hidden;
    max-height: 45px;
}
.social-nets-filter-i {
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    transition: all 0.2s;
} 
.social-nets-filter-i:hover {
    opacity: 0.6;
}
.social-nets-filter-left {
    display: inline-block;
    max-width: 140px;
    transition: all 0.3s;
}
.social-nets-filter-left a:first-child {
    margin-left: 0;
}
.social-nets-filter-plus {
    margin-left: 10px;
    border: 1px solid #d50000;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s;
}
.social-nets-filter-plus img {
    padding: 9px;
    cursor: pointer;
}
.social-nets-filter-bots.slidedown .social-nets-filter-left {
    max-width: 290px;
}
.social-nets-filter-bots.slideup .social-nets-filter-left {
    max-width: 140px;
}
.social-nets-filter-bots.slidedown {
    max-height: 45px!important;
}
.social-nets-filter-bots.slideup {
    max-height: 45px!important;
}

.social-nets-filter-wrap.vertical.slidedown {
    max-height: 140px;
}
.social-nets-filter-wrap.vertical.slideup {
    max-height: 45px;
}
.social-nets-filter-wrap.vertical .social-nets-filter-left a:nth-child(3n+1) {
    margin-left: 0;
}
@media (min-width: 320px)  and (max-width: 768px) {
    .social-nets-filter-wrap {
        float: none;
        text-align: center;
        margin-top: 30px!important;
    }
}