<div class="top-image">
    <div class="top-image-content" [style.backgroundImage]="singer && singer.header && innerWidth > 767 ? 'url(http://api-mr.cubaproducts.ru.swtest.ru/uploads/'+singer.header +')' : singer && singer.headerMobile && innerWidth <= 767 ? 'url(http://api-mr.cubaproducts.ru.swtest.ru/uploads/'+singer.headerMobile +')' : ''">
        <div class="container">
            <div class="top-content">
                <div class="top-h">Listen</div>
                <div class="top-h3">Listen Russian songs with English translation</div>
            </div>
        </div>
    </div>
</div>
<div  *ngIf="singer" class="wrap">
    <div class="container">
        <div class="breadcrumbs">
            <a [routerLink]="['/']">Home</a>
            <span class="active">/</span>
            <a [routerLink]="['/learn']">Learn</a>
            <span class="active">/</span>
            <a [routerLink]="['/listen']">Listen</a>
            <span>/</span>
            <span>{{ singer.name }}</span>
        </div>
        <div class="watch-detail-content">
            <div class="watch-detail-h">{{ singer.name }}</div>
            <div class="watch-detail-hrus">{{ singer.nameRus }}</div>
            <div class="main-content">
                <div class="left-side">
                    <ngx-y2-player
                    #video
                    [videoId]="songActive.youtube"
                    [playerOptions]="playerOptions"
                    [container]="container"
                    ></ngx-y2-player>
                </div>
                <div class="right-side">
                    <div class="right-side-h">Tracklist</div>
                    <div class="right-side-p">
                        <div class="tracklist-wrap">
                            <div *ngIf="singer.tracklist && singer.tracklist.length > 0">
                                <div *ngFor="let song of singer.tracklist; let index = index" class="tracklist-item" [ngClass]="{'active': song === songActive}" (click)="changeActiveTrack(song)">
                                    <span class="track-num">{{ index + 1 }}.</span>
                                    <svg class="tracklist-play" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                      <path d="M5.6 10.15L9.8 7L5.6 3.85V10.15ZM7 0C3.15 0 0 3.15 0 7C0 10.85 3.15 14 7 14C10.85 14 14 10.85 14 7C14 3.15 10.85 0 7 0ZM7 12.6C3.92 12.6 1.4 10.08 1.4 7C1.4 3.92 3.92 1.4 7 1.4C10.08 1.4 12.6 3.92 12.6 7C12.6 10.08 10.08 12.6 7 12.6Z" fill="#D50000"/>
                                    </svg>
                                    <span class="track-name">{{ song.name }}</span>
                                    <span class="track-name-rus">/ {{ song.nameRus }}</span>
                                </div>
                            </div>
                            <div *ngIf="singer.tracklist.length == 0">
                                Tracklist is empty
                            </div>
                        </div>
                    </div>
                    <div *ngIf="songActive.id > 0">
                        <div class="song-name">{{ songActive.name }}</div>
                        <div class="song-translit">
                            {{ songActive.nameRus }} 
                            <span class="name-translit">[{{ songActive.translit }}]</span>
                        </div>
                    </div>
                    <div class="bottom-bar">
                        <a class="watch-sovite" href="https://lyricstranslate.com/" target="_blank">
                            <img src="/assets/images/listen-lyrics.png"/>
                        </a>
                        <div class="social-nets-filter-wrap d-none d-md-block"  [ngClass]="socialNetsBtnClicked === false ? 'slideup' : 'slidedown'">
                            <div class="social-nets-filter-left">
                                <a href="#" class="social-nets-filter-i">
                                    <img src="assets/images/facebook-r.png"/>
                                </a>
                                <a href="#" class="social-nets-filter-i">
                                    <img src="assets/images/pinterest-r.png"/>
                                </a>
                                <a href="#" class="social-nets-filter-i">
                                    <img src="assets/images/twitter-r.png"/>
                                </a>
                                <a href="#" class="social-nets-filter-i">
                                    <img src="assets/images/whatsapp.png" width="40px"/>
                                </a>
                                <a href="#" class="social-nets-filter-i">
                                    <img src="assets/images/telegram-r.png"/>
                                </a>
                                <a href="#" class="social-nets-filter-i">
                                    <img src="assets/images/mail.png"/>
                                </a>
                            </div>
                            <span class="social-nets-filter-plus" [ngClass]="{'cross': socialNetsBtnClicked === true}" (click)="socialNetsBtnClicked = !socialNetsBtnClicked">
                                <img src="assets/images/plus.png"/>
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="songActive.id > 0">
                    <div class="lyrics-wrap row">
                        <div class="lyrics-change d-block d-md-none">
                            <div class="lyrics-btn ru" [ngClass]="mobileLirycs === true ? 'active' : ''" (click)="changeLyrics(true)">
                                <div>RU</div>
                            </div>
                            <div class="lyrics-btn eng" [ngClass]="mobileLirycs  === false ? 'active' : ''" (click)="changeLyrics(false)">
                                <div>EN</div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="lyrics-rus col-sm-5" *ngIf="innerWidth <= 767 && mobileLirycs || innerWidth > 767">
                            <div class="lyrics-h">Russian lyrics</div>
                            <div class="lyrics-text">
                                <app-song-text (onHoverRow)="hoverRow($event)" [setSongText]="songActive.rusLyrics" [hoveredRow]="hoveredRow"></app-song-text>
                            </div>
                        </div>
                        <div class="lyrics-eng col-sm-5" *ngIf="innerWidth <= 767 && !mobileLirycs || innerWidth > 767">
                            <div class="lyrics-h">English translation</div>
                            <div class="lyrics-text">
                                <app-song-text (onHoverRow)="hoverRow($event)" [setSongText]="songActive.engLyrics" [hoveredRow]="hoveredRow"></app-song-text>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="social-nets-filter-wrap social-nets-filter-bots d-block d-md-none"  [ngClass]="socialNetsBtnClicked === false ? 'slideup' : 'slidedown'">
                    <div class="social-nets-filter-left">
                        <a href="#" class="social-nets-filter-i">
                            <img src="assets/images/facebook-r.png"/>
                        </a>
                        <a href="#" class="social-nets-filter-i">
                            <img src="assets/images/pinterest-r.png"/>
                        </a>
                        <a href="#" class="social-nets-filter-i">
                            <img src="assets/images/twitter-r.png"/>
                        </a>
                        <a href="#" class="social-nets-filter-i">
                            <img src="assets/images/whatsapp.png" width="40px"/>
                        </a>
                        <a href="#" class="social-nets-filter-i">
                            <img src="assets/images/telegram-r.png"/>
                        </a>
                        <a href="#" class="social-nets-filter-i">
                            <img src="assets/images/mail.png"/>
                        </a>
                    </div>
                    <span class="social-nets-filter-plus" [ngClass]="{'cross': socialNetsBtnClicked === true}" (click)="socialNetsBtnClicked = !socialNetsBtnClicked">
                        <img src="assets/images/plus.png"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>