<div class="top-image">
  <div class="top-image-content" style="background-image: url(/assets/images/travel-top.jpg);">
    <div class="container">
      <div class="top-content">
          <div class="top-h">Travel</div>
      </div>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="container">
    <div class="breadcrumbs">
        <a [routerLink]="['/']">Home</a>
        <span>/</span>
        <span>Travel</span>
    </div>
    <div class="posts">
      <div class="row">
        <div class="blog-item-wrap col-md-4">
          <a href="javascript:void(0)" class="blog-item zoom-item">
            <div class="inside" style="background-image: url(assets/images/travel1.jpg)"></div>
            <div class="outside">
              <div class="content">
                <div class="sec-h">Russian Visa</div>
                <div class="preview">Some text about visa</div>
              </div>
              <div class="filler"></div>
            </div>
          </a>
        </div>
        <div class="blog-item-wrap col-md-4">
          <a href="javascript:void(0)" class="blog-item zoom-item">
            <div class="inside" style="background-image: url(assets/images/travel2.jpg)"></div>
            <div class="outside">
              <div class="content">
                <div class="sec-h">Cities</div>
                <div class="preview">Some text about visa</div>
              </div>
              <div class="filler"></div>
            </div>
          </a>
        </div>
        <div class="blog-item-wrap col-md-4">
          <a href="javascript:void(0)" class="blog-item zoom-item">
            <div class="inside" style="background-image: url(assets/images/travel3.jpg)"></div>
            <div class="outside">
              <div class="content">
                <div class="sec-h">Survival guide</div>
                <div class="preview">Some text about visa</div>
              </div>
              <div class="filler"></div>
            </div>
          </a>
        </div>
        <div class="blog-small-wrap col-md-8">
          <a href="javascript:void(0)" class="blog-small zoom-item">
            <div class="inside" style="background-color: #901919"></div>
            <div class="outside">
              <div class="content">
                <div class="sec-h">Text block header</div>
                <div class="preview">This lesson will teach you essential words and phrases for speaking Russian in romantic situations. Learn how to express interest, give compliments, or express your deep feelings in Russian.</div>
              </div>
              <div class="filler"></div>
            </div>
          </a>
        </div>
        <div class="blog-small-wrap col-md-4">
          <a href="javascript:void(0)" class="blog-small zoom-item">
            <div class="inside" style="background-image: url(assets/images/travel4.png)"></div>
            <div class="outside">
              <div class="content">
                <div class="sec-h">Text block header</div>
                <div class="preview">This lesson will teach you essential words and phrases for speaking Russian in romantic situations. Learn how to express interest, give compliments, or express your deep feelings in Russian.</div>
              </div>
              <div class="filler"></div>
            </div>
          </a>
        </div>
        <div class="blog-small-wrap col-md-4">
          <a href="javascript:void(0)" class="blog-small zoom-item">
            <div class="inside" style="background-image: url(assets/images/travel4.png)"></div>
            <div class="outside">
              <div class="content">
                <div class="sec-h">Text block header</div>
                <div class="preview">This lesson will teach you essential words and phrases for speaking Russian in romantic situations. Learn how to express interest, give compliments, or express your deep feelings in Russian.</div>
              </div>
              <div class="filler"></div>
            </div>
          </a>
        </div>
        <div class="blog-small-wrap col-md-4">
          <a href="javascript:void(0)" class="blog-small zoom-item">
            <div class="inside" style="background-image: url(assets/images/travel4.png)"></div>
            <div class="outside">
              <div class="content">
                <div class="sec-h">Text block header</div>
                <div class="preview">This lesson will teach you essential words and phrases for speaking Russian in romantic situations. Learn how to express interest, give compliments, or express your deep feelings in Russian.</div>
              </div>
              <div class="filler"></div>
            </div>
          </a>
        </div>
        <div class="blog-small-wrap col-md-4">
          <a href="javascript:void(0)" class="blog-small zoom-item">
            <div class="inside" style="background-image: url(assets/images/travel4.png)"></div>
            <div class="outside">
              <div class="content">
                <div class="sec-h">Text block header</div>
                <div class="preview">This lesson will teach you essential words and phrases for speaking Russian in romantic situations. Learn how to express interest, give compliments, or express your deep feelings in Russian.</div>
              </div>
              <div class="filler"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>